body {
    background-color: rgb(27, 27, 27);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

.heading .title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}
.gold-box {
    border:3px solid white;
    background-color: gold;
    width: 5px;
    padding: 10px;
    margin-bottom: 2px;
    font-size: 1px;
    position: absolute;
    top:17px;
}
.description {
    position: absolute;
    color:white;
    top:40%;
}